:root {
  --primary-color:#020617;
  --secondary-color:#f59e0b;
  --primary-transparent:rgba(2, 6, 23, 0.8);
  --grey0:#f8f8f8;
  --grey1:#2a2e35;
  --grey2:#b2becd;
  --grey3:#454e56;
  --grey4:#454e56;
  --grey5:#2a2e35;
  --grey6:#12181b;
  --text-color:#FFFFFF;
  --transition:all .5s ease-in-out;
}

.light-mode {
  --primary-color:#f8fafc;
  --secondary-color:#f59e0b;
  --primary-transparent:#f8fafc;
  --grey0:#f8f8f8;
  --grey1:#dbe1e8;
  --grey2:#6c7983;
  --grey3:#6c7893;
  --grey4:#454e56;
  -grey5: #f8f8f8;
  --grey6:#12181b;
  --text-color:black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 2em;
}

main {
  width: 80vw;
  margin: auto;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.nav-link:hover {
  transform: scale(1.1);
  transition: var(--transition);
}

.nav-links {
  display: flex;
}

.active-link {
  font-weight: bold;
  color: var(--secondary-color);
  transition: var(--transition);
}

header {
  height: 100vh !important;
  color: var(--text-color);
}

.header-bar {
  position: fixed;
  width: 80vw;
  left: 7em;
  top: 0;
  z-index: 999;
  background-color: transparent;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 2em;
}

.theme-switch i:hover {
  cursor: pointer;
}

.links-div > ul > a {
  margin-right: 2.5em;
}

.logo {
  max-width: 4em;
  max-height: 4em;
}

.section {
  height: auto;
  width: 100%;
  margin-top: 50px;
}

.section:target:before {
  content: "";
  display: block;
  height: 200px;
  margin: -80px 0 0;
}

.hero-section {
  width: 80vw;
  margin: 80px auto 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}
.hero-section .img-container {
  margin-top: 4em;
  display: flex;
  height: 70%;
  width: 80%;
  margin-left: 4em;
  transition: var(--transition);
}
.hero-section .img-container .hero-img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-section .img-container .hero-img:hover {
  cursor: auto;
  transform: translateY(2%);
  transition: var(--transition);
}
.hero-section .hero-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-section .hero-desc .name {
  font-size: 3em;
}
.hero-section .hero-desc .name span {
  color: var(--secondary-color);
}
.hero-section .hero-desc p {
  margin: 1.5em 0;
  line-height: 2em;
}

.btn-container {
  display: flex;
  align-self: flex-start;
}

.hero-btn {
  border-radius: 40px;
  position: relative;
  border: 1px solid var(--secondary-color);
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
}

.hero-btn .btn-text {
  padding: 0 1em;
}

.hero-btn .btn-icon {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.8em;
}

.hero-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: var(--transition);
  z-index: -1;
}

.hero-btn:hover {
  transition: all 0.4s ease-out;
  font-weight: bold;
}

.hero-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  transform: translateX(0);
  transition: var(--transition);
}

.section-title {
  text-align: center;
}
.section-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
}
.section-title h2 span {
  color: var(--secondary-color);
}
.section-title h2 .underlay-txt {
  position: absolute;
  top: 90%;
  left: 50%;
  color: var(--grey1);
  transition: var(--transition);
  z-index: -1;
  transform: translate(-50%, -50%);
}

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.about-container .about-tiles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
  padding: 2em;
}
.about-container .about-tiles .about-item {
  border: 1px solid var(--grey5);
  border-radius: 5px;
  transition: var(--transition);
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.1);
  height: 7em;
}
.about-container .about-tiles .about-item:hover {
  transform: translateY(-5px);
  border: 1px solid var(--secondary-color);
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
}
.about-container .about-tiles .about-item:hover i {
  color: var(--secondary-color);
}
.about-container .about-tiles .about-item .about-text {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
}
.about-container .about-left {
  padding-right: 2em;
}
.about-container .about-left p {
  line-height: 1.5em;
  padding: 1em;
  color: var(--text-color);
}
.about-container .about-left .projects-link {
  color: red;
}
.about-container .about-left h4 {
  font-size: 2em;
  text-transform: uppercase;
}

.about-right h4, .skills h4 {
  font-size: 2em;
  text-transform: uppercase;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}
.skills-container .skill-container {
  display: flex;
  align-items: center;
  margin: 1.5em;
}
.skills-container .skill-container i {
  font-size: 2em;
  margin-right: 0.2em;
}
.skills-container .skill-container span {
  font-size: 1.5em;
}
.skills-container .skill-container:hover {
  transform: translateY(5px);
  transition: var(--transition);
  cursor: pointer;
  color: var(--secondary-color);
}

.resume-container {
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}
.resume-container .resume-item {
  position: relative;
  padding: 2em;
  border-left: 1px solid var(--grey5);
}
.resume-container .resume-item .resume-icon {
  position: absolute;
  left: -0.5em;
  top: 2em;
  color: var(--secondary-color);
}
.resume-container .resume-item .duration {
  padding: 0.2em 0.6em;
  background-color: var(--grey1);
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8em;
  text-transform: uppercase;
  margin-bottom: 1em;
  font-weight: bold;
}
.resume-container .resume-item h5 {
  padding: 1em 0;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
}
.resume-container .resume-item h5 span {
  color: var(--grey1);
}
.resume-container .resume-item p {
  color: var(--grey2);
  margin-top: 1em;
}
.resume-container .resume-item a {
  color: var(--secondary-color);
}
.resume-container .resume-item a:hover {
  transform: scale(1.5);
  transition: var(--transition);
}

.resume {
  display: flex;
  flex-direction: column;
}
.resume .resume-container h4 {
  margin-bottom: 1em;
  font-size: 2em;
}
.resume .resume-container .resume-work .skills-learned, .resume .resume-container .resume-education .skills-learned {
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
}
.resume .resume-container .resume-work .skills-learned span, .resume .resume-container .resume-education .skills-learned span {
  border: 1px solid var(--grey5);
  border-radius: 10px;
  margin: 0.2em;
  padding: 0.2em;
  color: var(--grey2);
}
.resume .resume-container .resume-work .skills-learned span:hover, .resume .resume-container .resume-education .skills-learned span:hover {
  transition: var(--transition);
  cursor: pointer;
  color: var(--secondary-color);
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  margin-top: 3em;
  padding: 1rem;
  margin: auto;
}
.projects-container .project {
  background-color: var(--grey3);
  border-radius: 5px;
  transition: var(--transition);
  position: relative;
}
.projects-container .project:hover {
  transition: var(--transition);
  color: var(--secondary-color);
}
.projects-container .project:hover img {
  transform: scale(1.05);
}
.projects-container .project img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: var(--transition);
}
.projects-container .project .project-text {
  margin-top: -7px;
  padding: 1.1em;
}
.projects-container .project .project-text h4 {
  font-size: 1.5em;
  margin-bottom: 0.7em;
  transition: var(--transition);
  cursor: pointer;
}
.projects-container .project .sources {
  position: absolute;
  right: 0;
  bottom: 0;
}
.projects-container .project .sources a {
  color: var(--secondary-color);
}
.projects-container .project i {
  margin: 1em;
}
.projects-container .project p {
  color: var(--grey0);
  line-height: 2em;
  padding-bottom: 1em;
}

.contacts-section {
  height: auto;
}

.contacts-container {
  display: flex;
  margin: 2em;
  flex-direction: column;
  align-items: center;
}
.contacts-container .socials-container {
  width: 80vw;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contacts-container .socials-container .social-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2em;
}
.contacts-container .socials-container .social-item a img {
  height: 4em;
  border-radius: 10px;
}

.copy {
  color: var(--secondary-color);
}

@media screen and (max-width: 640px) {
  body {
    font-size: 0.8rem !important;
    width: 90vw;
  }
  header {
    margin: 0;
    padding: 0;
  }
  header .hero-section {
    height: auto !important;
    margin: auto !important;
  }
  .nav {
    position: fixed;
    width: 100vw !important;
    bottom: 0;
    z-index: 999;
    background-color: var(--primary-transparent);
  }
  .logo-img {
    display: none;
  }
  .nav-link .link-text {
    display: none;
  }
  .hero-section {
    display: grid;
    grid-template-columns: 1fr;
  }
  .hero-desc p {
    display: none;
  }
  .hero-desc .btn-container {
    margin: 0.5rem 0rem;
  }
  .img-container {
    margin: 1rem auto !important;
    height: 100% !important;
  }
  .about-container {
    grid-template-columns: 1fr;
  }
  .about-container .about-right {
    padding-top: 1.5rem;
  }
  .about-container .about-left {
    width: 90vw;
  }
  .about-container .about-tiles {
    gap: 0.5rem;
    padding: 1rem;
  }
  .skills-container .skill-container i {
    font-size: 1.4rem;
    margin: 0.5rem;
  }
  .skills-container .skill-container span {
    font-size: 1.4rem;
  }
  .resume .btn-container {
    margin: 0.5rem 0rem;
  }
  .resume-container {
    grid-template-columns: 1fr;
  }
  .resume-container .resume-education {
    display: none;
  }
  .resume-container .resume-item {
    padding: 1rem;
  }
  .projects-container {
    grid-template-columns: 1fr !important;
  }
  .projects-container .project img {
    max-height: 200px;
  }
  .contacts-container .socials-container {
    gap: 1.2rem;
  }
  .party-shot {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 1300px) {
  body {
    font-size: 1.5rem;
  }
  .hero-section {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 150px !important;
  }
  .header-bar {
    width: 100vw;
    left: 0.5em !important;
  }
  .header-bar .nav {
    padding: 0rem 1rem;
  }
  .header-bar .nav .logo-img {
    margin-right: 1rem !important;
  }
  .links-div > ul > a {
    margin-right: 1rem;
  }
  .about-container {
    padding: 1rem;
  }
  .about-container .about-tiles {
    gap: 1rem;
    padding: 0.2rem;
    max-width: 80vw;
    grid-template-columns: 1fr;
  }
  .about-container .about-left p {
    padding: 0.5rem;
  }
  .skills-container .skill-container {
    margin: 0.5rem;
  }
  .resume-container .resume-education .resume-item, .resume-container .resume-work .resume-item {
    padding: 1rem;
  }
  .resume-container .resume-education .resume-item .duration, .resume-container .resume-work .resume-item .duration {
    padding: 0.2rem;
  }
  .resume-container .resume-education .resume-item h5, .resume-container .resume-work .resume-item h5 {
    padding: 0.5rem;
    font-size: 1rem;
  }
  .resume-container .resume-education .resume-item p, .resume-container .resume-work .resume-item p {
    margin-top: 0.5rem;
  }
  .resume-container .resume-education .resume-item .skills-learned, .resume-container .resume-work .resume-item .skills-learned {
    display: none;
  }
  .projects-container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 1600px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .header-bar {
    width: 100vw;
    left: 0.5em !important;
  }
  .header-bar .nav {
    padding: 0rem 1rem;
  }
  .header-bar .nav .logo-img {
    margin-right: 1rem !important;
  }
}/*# sourceMappingURL=index.css.map */