@media screen and (max-width: 700px) {
    body{
        font-size:.8rem;
        width:90vw;
    }
    header{
        margin:0;
        padding:0;
        .hero-section{
            height:auto !important;
            margin:auto !important;
        }
    }
    .nav{
        position: fixed;
        width:100vw !important;
        bottom: 0;
        z-index:999;
        background-color:var(--primary-transparent);
    }
    .logo-img{
        display: none;
    }
    .hero-section {
        display: grid;
        grid-template-columns: 1fr;
    }
    .hero-desc{
        name{
            font-size:1.1rem;
        }
        p{
            display:none;
        }
        .btn-container{
            margin:.5rem 0rem;
        }

    }
    .img-container{
        margin: 1rem auto !important;
        height:100% !important;
    }
    .about-container{
        grid-template-columns: 1fr;
        .about-right{
            padding-top:1.5rem;
        }
        .about-left{
            width:90vw;
        }
        .about-tiles{
            gap:.5rem;
            padding:1rem;
        }
       
    }
    .skills-container{
        .skill-container{
            i{
                font-size:1.4rem;
                margin:.5rem;
            }
            span{
                font-size: 1.4rem;
            }
        }
    }
    .resume{
        .btn-container{
            margin:.5rem 0rem;
        }
    }
    .resume-container{
        grid-template-columns:1fr;
        .resume-education{
            display:none;
        }
        .resume-item{
            padding:1rem;
        }
    }
    .projects-container{
        grid-template-columns: 1fr !important;
        .project{
            img{
                max-height:200px;
            }
        }
    }
    .contacts-container{
        .socials-container{
            gap: 1.2rem;
           
        }
    }
    .party-shot{
        margin-top:1rem;
    }

    
 }
 @media screen and (max-width:1300px){
    body{
        font-size: 1.5rem;
    }
    .hero-section {
        display: grid;
        grid-template-columns: 1fr;
        margin-top:150px !important;
      
    }
    .header-bar{
        width:100vw;
        left:.5em !important;
        .nav{
            padding:0rem 1rem;
            .logo-img{
                margin-right:1rem !important;
            }
        }
    }
    .links-div>ul>a{
        margin-right:1rem;
        
    }
    
    .about-container{
        padding:1rem;
        .about-tiles{
            gap:1rem;
            padding:.2rem;
            max-width:80vw;
            grid-template-columns: 1fr;
        }
        .about-left{
            p{
                padding:.5rem;
            }
        }
       
    }
    .skills-container{
        .skill-container{
            margin:.5rem;
        }
    }
    .resume-container{
        .resume-education,.resume-work{
            .resume-item{
                padding:1rem;
                .duration{
                    padding:.2rem;
                }
                h5{
                    padding:.5rem;
                    font-size:1rem;
                }
                p{
                    margin-top:.5rem;
                }
                .skills-learned{
                    display: none;
                }
            }
          
        }
    }
    .projects-container{
        grid-template-columns: 1fr;
    }
 }
 @media screen and (max-width:1600px){
    .projects-container{
        grid-template-columns: repeat(2,1fr);
    }
    .header-bar{
        width:100vw;
        left:.5em !important;
        .nav{
            padding:0rem 1rem;
            .logo-img{
                margin-right:1rem !important;
            }
        }
    }
 }



 