@media screen and (max-width: 640px) {
  body {
    font-size: 0.7em;
    width: 90vw;
  }
  header {
    margin: 0;
    padding: 0;
  }
  header .hero-section {
    height: auto !important;
    margin: auto !important;
  }
  .nav {
    position: fixed;
    width: 100vw !important;
    bottom: 0;
    z-index: 999;
    background-color: var(--primary-transparent);
  }
  .logo-img {
    display: none;
  }
  .hero-section {
    display: grid;
    grid-template-columns: 1fr;
  }
  .hero-desc name {
    font-size: 1.1rem;
  }
  .hero-desc p {
    display: none;
  }
  .hero-desc .btn-container {
    margin: 0.5rem 0rem;
  }
  .img-container {
    margin: 1rem auto !important;
    height: 100% !important;
  }
  .about-container {
    grid-template-columns: 1fr;
  }
  .about-container .about-right {
    padding-top: 1.5rem;
  }
  .about-container .about-left {
    width: 90vw;
  }
  .about-container .about-tiles {
    gap: 0.5rem;
    padding: 1rem;
  }
  .skills-container .skill-container i {
    font-size: 1.4rem;
    margin: 0.5rem;
  }
  .skills-container .skill-container span {
    font-size: 1.4rem;
  }
  .resume .btn-container {
    margin: 0.5rem 0rem;
  }
  .resume-container {
    grid-template-columns: 1fr;
  }
  .resume-container .resume-education {
    display: none;
  }
  .resume-container .resume-item {
    padding: 1rem;
  }
  .projects-container {
    grid-template-columns: 1fr !important;
  }
  .projects-container .project img {
    max-height: 200px;
  }
  .contacts-container .socials-container {
    gap: 1.2rem;
  }
  .party-shot {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 1300px) {
  body {
    font-size: 1.5rem;
  }
  .hero-section {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 150px !important;
  }
  .header-bar {
    width: 100vw;
    left: 0.5em !important;
  }
  .header-bar .nav {
    padding: 0rem 1rem;
  }
  .header-bar .nav .logo-img {
    margin-right: 1rem !important;
  }
  .links-div > ul > a {
    margin-right: 1rem;
  }
  .about-container {
    padding: 1rem;
  }
  .about-container .about-tiles {
    gap: 1rem;
    padding: 0.2rem;
    max-width: 80vw;
    grid-template-columns: 1fr;
  }
  .about-container .about-left p {
    padding: 0.5rem;
  }
  .skills-container .skill-container {
    margin: 0.5rem;
  }
  .resume-container .resume-education .resume-item, .resume-container .resume-work .resume-item {
    padding: 1rem;
  }
  .resume-container .resume-education .resume-item .duration, .resume-container .resume-work .resume-item .duration {
    padding: 0.2rem;
  }
  .resume-container .resume-education .resume-item h5, .resume-container .resume-work .resume-item h5 {
    padding: 0.5rem;
    font-size: 1rem;
  }
  .resume-container .resume-education .resume-item p, .resume-container .resume-work .resume-item p {
    margin-top: 0.5rem;
  }
  .resume-container .resume-education .resume-item .skills-learned, .resume-container .resume-work .resume-item .skills-learned {
    display: none;
  }
  .projects-container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 1600px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .header-bar {
    width: 100vw;
    left: 0.5em !important;
  }
  .header-bar .nav {
    padding: 0rem 1rem;
  }
  .header-bar .nav .logo-img {
    margin-right: 1rem !important;
  }
}/*# sourceMappingURL=mobile.css.map */