@media screen and (max-width: 600px) {
    body{
        font-size:.8rem;
        width:90vw;
    }
    .header-bar{
        display: none !important;
    }
    .hero-section {
        display: grid;
        grid-template-columns: 1fr;
        margin-top:1rem;
       
    }
    .hero-desc{
        name{
            font-size:1.1rem;
        }
        p{
            display:none;
        }
        .btn-container{
            margin:.5rem 0rem;
        }

    }
    .img-container{
        margin-top:.2rem;
    }
    .section{
        margin-top:1rem;
    }
    .about-container{
        grid-template-columns: 1fr;
        .about-right{
            padding-top:1.5rem;
        }
        .about-left{
            width:90vw;
        }
        .about-tiles{
            gap:.5rem;
            padding:1rem;
        }
       
    }
    .skills-container{
        .skill-container{
            i{
                font-size:1rem;
                margin:.5rem;
            }
            span{
                font-size: .8rem;
            }
        }
    }
    .resume{
        .btn-container{
            margin:.5rem 0rem;
        }
    }
    .resume-container{
        grid-template-columns:1fr;
        .resume-education{
            display:none;
        }
        .resume-item{
            padding:1rem;
        }
    }
    .projects-container{
        grid-template-columns: 1fr;
        .project{
            img{
                max-height:200px;
            }
        }
    }
    .contacts-container{
        .socials-container{
            gap: 1.2rem;
           
        }
    }
    .party-shot{
        margin-top:2rem;
    }

    
 }
 @media screen and (max-width:970px){
    .hero-section {
        display: grid;
        grid-template-columns: 1fr;
    }
 }
 @media screeen and (max-width:1070px){
    
 }

 